<label>
  <strong>{{label}}</strong>
  <input
    id='{{id}}'
    class='db mt1 input-reset pa2 w-100 br2 {{class}}'
    type='{{#if type}}{{type}}{{else}}text{{/if}}'
    name='{{name}}'
    placeholder='{{placeholder}}'
    {{required}}
  />
</label>